{% extends "base.html" %}
{% block content %}
<h1 class="title">Dashboard</h1>
<div class="columns">
  <div class="column">
    <div class="box has-text-centered">
      <p class="heading">Items</p>
      <p class="title">{{ item_count }}</p>
    </div>
  </div>
  <div class="column">
    <div class="box has-text-centered">
      <p class="heading">Purchases</p>
      <p class="title">{{ purchase_count }}</p>
    </div>
  </div>
  <div class="column">
    <div class="box has-text-centered">
      <p class="heading">Sales</p>
      <p class="title">{{ sale_count }}</p>
    </div>
  </div>
</div>
{% endblock %}
